<%= content_for(:title, '账户登录 | Koogle') %>
<div class="login">
  <div style="text-align: center;padding-top: 30px">
    <a href="/">
      <img src="<%= image_path('sources/xxoo.png')%>" style="height: 152px">
    </a>
  </div>
  <div class="login__form">
    <form method="post" action="<%= sign_in_path %>" autocomplete="off">
      <div class="login__row">
        <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
          <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8"></path>
        </svg>
        <input type="text" id="email" name="user[email]" value="<%= flash[:set_email] %>" class="login__input name" placeholder="<%= flash[:email]  || '邮箱' %>" autocomplete="off">
      </div>
      <div class="login__row">
        <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
          <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0"></path>
        </svg>
        <input type="password" name="user[password]" id='password' class="login__input pass" placeholder="<%= flash[:password]  || '密码' %>" autocomplete="off">
      </div>
      <button id="submit" type="submit" class="login__submit">登录账户</button>
    </form>
    <%= render :partial=>'users/shared' %>
  </div>
</div>