<section class="content-header">
  <h1>
    Dashboard
    <small>Control panel</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
  </ol>
</section>
<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-red">
        <div class="inner">
          <h3><%= Video.all.count %></h3>
          <p>Videos</p>
        </div>
        <div class="icon">
          <i class="ion ion-videocamera"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3><%= Column.all.count %></h3>
          <p>Columns </p>
        </div>
        <div class="icon">
          <i class="ion ion-jet"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3><%= User.all.count %></h3>
          <p>Registrations</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <h3><%= Cloud.count %></h3>
          <p>Cloud File</p>
        </div>
        <div class="icon">
          <i class="ion ion-upload"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
  </div>

  <div class="row">
    <% @hot_videos.each do |item| %>
      <div class="col-md-3 col-sm-6 col-xs-12" title="<%= item.title %>">
        <div class="info-box">
          <span class="info-box-icon <%= item.background %>"><i class="<%= item.column.icon %>"></i></span>
          <div class="info-box-content">
            <span class="info-box-text"><%= item.title %></span>
            <span class="info-box-number"><%= item.view_count %></span>
            <a href="<%= show_path(item.url_code) %>" style="font-size: 18px">more</a>
          </div>
        </div>
      </div>
    <% end%>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ul class="timeline">
      <% cache [:action_logs, @logs.map{|x| x.updated_at}.max] do%>
        <% @logs.each do |item| %>
          <li>
            <i class="fa <%= item.action_icon %>"></i>
            <div class="timeline-item">
              <span class="time"><i class="fa fa-clock-o"></i> <%= item.created_at.strftime("%m-%d %H:%M")%></span>
              <h3 class="timeline-header"><a>[<%= item.local_ip %>]</a><%= item.user_name %> 于 <a><%= item.location %></a> <%= item.action_name %></h3>
              <div class="timeline-body">
                <a href="<%= Settings.host + item.result if '12'.include?(item.action) %>"><%= item.result %></a>
              </div>
            </div>
          </li>
        <% end -%>
      <% end -%>
      </ul>
    </div>
  </div>
</section>
