<div class="col-md-9" id='<%= fix_r_com comment %>'>
  <div class="<%= com_l_or_r comment %>">
    <div class="com-details">
      <p><%= com_reply_tip comment %><%= comment.content %></p>
    </div>
    <div class="user-info">
      <a href="#" class="avatar"><img src="<%= come_user_avatar comment %>"></a>
      <h3><%= com_user_name comment %></h3>
      <% if (comment.user_id != 0 && current_user.nil? )|| ( current_user.present? && current_user.id != comment.user_id && comment.user_id > 0)%>
        <span><a href="javasript:void(0)" class="reply" onclick="reply_user(<%=comment.user_id%>,'<%= display_name comment.user %>')"><i class="ion ion-chatboxes"></i></a></span>
      <% end -%>
      <a href="javasript:void(0)" class="vote" id="vote_<%= comment.id %>" onclick="vote_com(<%= comment.id %>,<%= comment.vote + 1 %>)">
        <i class="ion ion-thumbsup"></i>
      </a>
      <span class="vote_sum" id="vote_sum_<%= comment.id %>">[<%= comment.vote %>]</span>
    </div>
  </div>
</div>
