<div class="col-md-4 col-sm-6">
  <div class="video-item">
    <div class="poster">
      <div class="icon">
        <a href="<%= show_path(video.url_code) %>">
          <i class="ion ion-play"></i>
        </a>
      </div>
      <img src="<%= video_cover video.cover %>">
    </div>
    <div class="info">
      <a href="<%= show_path(video.url_code) %>">
        <p class="title">
          <i class="<%= video.column.icon %>">&nbsp;</i><%= video.title %>
        </p>
       </a>
      <p class="time">
        <i class="fa fa-clock-o"></i>&nbsp;<%= video_time video.duration %>
        <span class="date"><i class="fa fa-calendar"></i>&nbsp;<%= video.created_at.strftime('%m-%d %H:%M') %></span>
      </p>
    </div>
  </div>
</div>