<%= content_for(:title, @column.name + ' | Koogle') %>
<% content_for :meta do %>
  <meta name="keywords" content="Develop by Koogle Zhang">
  <meta name="description" content="<%= strip_tags @column.summary %>">
  <meta property="og:title" content="<%= @column.name %> | Koogle">
  <meta property="og:type" content="video">
  <meta property="og:url" content="<%= Settings.host + "#{column_path(@column.english)}" %>">
  <meta property="og:image" content="<%= carousel_cover @column.cover %>">
  <meta property="og:site_name" content="<%= @column.name %> | Koogle">
  <meta property="og:description" content="<%= strip_tags @column.summary %>">
<% end %>
<% num = rand(4) %>
<%= content_for :column_preface do %>
  <%= render partial:'shared/column_preface' %>
<% end -%>
<section id="videodetail" class="column-video-padding">
  <div class="container">
    <div class="row" id="vidoes">
    <% cache [@column.english, @videos.map{|x| x.updated_at}.max,@videos.map{|x| x.id}.max] do %>
      <% @videos.each do |video| %>
        <%= render partial:'shared/video_item', locals:{ video:video } %>
      <% end %>
    <% end %>
    </div>
    <div id='more' class="text-center">
      <a id='load_more' href="javascript:void(0)" class="btn btn-<%= rand_background num %>" onclick="videos_more(2)">
        浏览更多
      </a>
    </div>
    <div id="load_bar" class="progress">
      <div class="progress-bar progress-bar-<%= rand_background num %> progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
      </div>
    </div>
  </div>
</section>
<%= content_for :javascript do %>
<script>
  function videos_more(page){
    var next_page = parseInt(page) + 1;
    $('#more').css('display','none');
    $('#load_bar').css('display','block');
    $('#load_more').attr('onclick',"videos_more("+ next_page +")");
    load_progress(5);
    $.get("<%= column_more_path %>",{page: page,column:<%= @column.id %>}, function(data){
      setTimeout(function(){
        $('#more').css('display','block');
        $('#load_bar').css('display','none');
        $('.progress-bar').css('width','0%');
        if(data != ''){
          $('#vidoes').append(data);
        }else{
          $('.load_more').html('<h4>感谢您对我们视频的支持！(+ _ +) </h4>').removeAttr('onclick');
        }
      },888);
    })
  }

  function load_progress(time){
    var timer = null
    var i = 0;
    var timer = setInterval(function(){
      $('.progress-bar').css('width', i + '%');
      i++;
      if (i > 100) {
        clearInterval(timer);
      }
    },time);
  }

  $("#banner_scroll").click(function(){
    $('body,html').animate({scrollTop: 465},900);
  });
</script>
<% end -%>