<%= content_for(:title, @video.title + ' | Koogle') %>
<section class="show-section-padding">
<div class="container">
  <div class="row">
    <div class="col-md-9">

      <div class="play">
        <div id="video_show"></div>
        <div class="video_info">
          <p class="title"><h3><%= @video.title%></h3></p>
          <p class="time">
            <i class="fa fa-clock-o"></i>&nbsp;<%= video_time @video.duration %>
            <span class="date"><i class="fa fa-calendar"></i>&nbsp;<%= @video.created_at.strftime('%Y-%m-%d %H:%M') %></span>
          </p>
        </div>
      </div>

      <div class="row comments">
        <div id='com-form' class="col-md-12">
          <div class="form-user">

            <img src="<%= current_user.present?? display_avatar(current_user) : image_path('logo.png') %>" class="user-avatar" >
          </div>
          <div class="form-table col-md-10">
            <form>
              <input type="hidden" id="video_id" value="<%= @video.id %>">
              <input type="hidden" id="reply_id" value="">
              <input type='hidden' id="user_id" value="<%= current_user ? current_user.id : 0 %>">
              <textarea id='comment_id' placeholder="请在这里发表评论. . . . . ."></textarea>
              <a href="javascript:void(0)" id="com_submit"><%= default_com_name %></a>
              <span id='com_tip'></span>
            </form>
          </div>
        </div>
        <div id='comments'>
          <% @comments.each do |comment| %>
            <%= render partial:'shared/com_item',locals:{comment:comment} %>
          <% end -%>
        </div>
      </div>

    </div>
    <% @relates.each do |video| %>
      <%= render partial:'shared/show_item', locals:{ video:video } %>
    <% end %>
  </div>
</div>
</section>
<%= content_for :javascript do %>
<script type="text/javascript">
  function reply_user(user_id,name){
    $('#reply_id').val(user_id);
    $('#com_submit').html('回复 ['+ name +'] 评论');
  };
  function vote_com(comment,vote){
    $.get('/comment/vote/'+ comment, function(data){})
    $('#vote_' + comment).removeAttr('onclick');
    $('#vote_sum_' + comment).html('['+ vote +'+]');
  };
  $('#comment_id').keyup(function(){
    if($(this).val().length == 0){
      $('#com_tip').html('');
    }else{
      $('#com_tip').html('已键入' + $(this).val().length +'字');
    }
  });
  $('#com_submit').click(function(){
    if($('#comment_id').val().length < 5 ){
      $('#com_tip').html('评论内容请不少于五个字');
    }else{
      params = {};
      params['comment'] = {};
      params['comment']['video_id'] = $('#video_id').val() ;
      params['comment']['reply_id'] = $('#reply_id').val();
      params['comment']['user_id'] = $('#user_id').val();
      params['comment']['content'] = $('#comment_id').val();
      $.post('/comments/create', params, function(data){
        $('#comments').prepend(data);
        $('#comment_id').val('');
        $('#reply_id').val('');
        $('#com_tip').html('');
        $('#com_submit').html('发表评论');
      });
    }
  });
  var ivaInstance = new Iva(
    'video_show',//父容器id
    {
     appkey: '<%= Settings.videojj_key %>',//必填，请在控制台查看应用标识
     video: '<%= @video.video_url %>',//必填，播放地址（例如：http://v.youku.com/v_show/id_XMTY5NDg2MzY5Ng==.html）
     title: '<%= @video.title %>',//选填，建议填写方便后台数据统计
     cover: '<%= carousel_cover @video.cover %>',//选填，视频封面url
     playerUrl: '', //选填，第三方播放器与Video++互动层的桥接文件，由Video++官方定制提供，默认为空
     videoStartPrefixSeconds: 0,//选填，跳过片头，默认为0
     videoEndPrefixSeconds: 0,//选填，跳过片尾，默认为0
     /* 以下参数可以在“控制台->项目看板->应用管理->播放器设置” >进行全局设置，前端设置可以覆盖全局设置 */
     skinSelect: 0,//选填，播放器皮肤，可选0、1、2，默认为0，
     autoplay: true,//选填，是否自动播放，默认为false
     rightHand: false,//选填，是否开启右键菜单，默认为false
     autoFormat: true,//选填，是否自动选择最高清晰度，默认为false
     bubble: false,//选填，是否开启云泡功能，默认为true
     jumpStep: 15,//选填，左右方向键快退快进的时间
     tagTrack: false,//选填，云链是否跟踪，默认为false
     tagShow: false,//选填，云链是否显示，默认为false
     tagDuration: 5,//选填，云链显示时间，默认为5秒
     tagFontSize: 16,//选填，云链文字大小，默认为16像素
     editorEnable: false, // 选填，当用户登录之后，是否允许加载编辑器，默认为true
     vorEnable: false, // 选填，是否允许加载灵悟，默认为true
     vorStartGuideEnable: false //选填， 是否启用灵悟新人引导，默认为true
   }
 );
</script>
<% end -%>