<%= content_for(:title,  '上传云文件 | Koogle') %>
<section class="content-header">
  <h1>
    七牛云存储 <small>文件上传</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 数据中心</a></li>
    <li><i class="fa fa-skyatlas"></i> 文件云存储</li>
    <li class="active"><i class="fa fa-file"></i> 上传文件</li>
  </ol>
</section>
<section class="content">
  <div class="box box-warning">
    <div class="box-header">
      <h3 class="box-title">上传文件</h3>
    </div>

    <form action="<%= create_file_path %>" method="post" accept-charset="utf-8" enctype="multipart/form-data">
      <%= csrf_meta_tags %>
      <div class="box-body">
        <div class="col-sm-6">

          <div class="form-group has-warning">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-hand-o-right"></i></div>
              <select id="file_select" class="form-control">
                <option value="0">请选择文件类型</option>
                <option value="1">图片 / Picture</option>
                <option value="2">媒体 / Media</option>
                <option value="3">其他 / File</option>
              </select>
            </div>
          </div>

          <div id="1_div" class="form-group has-success" style="display: none">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-picture-o"></i></div>
              <input type="file" name="file" accept=".png,.jpg,.jpeg,.gif" class="form-control" onChange="addFileUlr(this,'imgblah')">
            </div>
          </div>

          <div id="2_div" class="form-group has-error" style="display: none">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-file-video-o"></i></div>
              <input type="file" name="file" accept=".mp4,.flv,.mp3" class="form-control" onChange="addFileUlr(this,'mediablah')">
            </div>
          </div>

          <div id="3_div" class="form-group has-feedback" style="display: none">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-file"></i></div>
              <input type="file" name="file" class="form-control">
            </div>
          </div>

          <div><img id="imgblah" width="100%"></div>
          <div><video id="mediablah" controls="controls" width="100%" poster="<%= image_path('toutu/meteor.png')%>"></video></div>

          <hr>
          <div>
            <button type="submit" class="btn bg-olive btn-flat" style="width: 120px">提交</button>
            <a href="<%= admin_files_path %>" class="btn bg-navy btn-flat" style="width: 120px">取消</a>
          </div>

        </div>
      </div>
    </form>

  </div>
</section>