<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : '用户中心 | 在沉默中爆发' %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <%= stylesheet_link_tag 'user', media: 'all' %>
  <%= favicon_link_tag 'logo.png', :rel => 'shortcut icon' %>
</head>
<body>
  <div id="particles-js"></div>
  <video autoplay loop id="bgvid">
    <source src="<%= audio_path('sources/Yasuo.mp4')%>" type="video/mp4" id="video_source">
  </video>
  <div class="demo">
    <%= yield %>
  </div>
  <%= javascript_include_tag 'user' %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-101900688-1', 'auto');
    ga('send', 'pageview');
  </script>
  <%= content_for(:javascript) %>
</body>
</html>