<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : '在沉默中爆发 | Koogle' %></title>
  <%= content_for?(:meta)? yield(:meta) :'' %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <%= stylesheet_link_tag 'web', media: 'all' %>
  <%= favicon_link_tag 'logo.png', :rel => 'shortcut icon' %>
</head>
<body>
  <%= render :partial=>'shared/header'%>
  <%= content_for :column_preface %>
  <video preload loop autoplay="autoplay" id="bgvid" src="<%= audio_path('sources/meteor1.mp4')%>"></video>
  <%= yield %>
  <%= render :partial=>'shared/footer'%>
  <%= javascript_include_tag 'web' %>
  <%= render :partial=>'shared/growingio'%>
  <%= render :partial=>'shared/googleanalysis'%>
  <%= content_for(:javascript) %>
</body>
</html>